body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
}

body > img {
  height: 80px;
  width: 80px;
  padding: 30px;
}

.imgContainer {
  height: 70vh;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 20px;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  transition-duration: 1000ms;
  transition-property: background;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.imgDots > img {
  height: 10px;
  padding: 5px;
  transition-duration: 500ms;
}

.active {
  height: 20px !important;
  transition-duration: 500ms;
}

#nextArrow:hover,
#prevArrow:hover {
  height: 100px;
  width: 100px;
  margin: -10px;
}
